androguard
asn1crypto
backcall
click
colorama
cycler
decorator
future
ipython
ipython-genutils
jedi
kiwisolver
lxml
matplotlib
networkx
numpy
parso
pickleshare
prompt-toolkit
pydot
Pygments
pyparsing
PyQt5
PyQt5-sip
python-dateutil
six
traitlets
wcwidth
